<!DOCTYPE
 html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <title>Malice Afterthought - {{ page.title }}</title>
  <script type="text/javascript" src="/static/modernizr-1.6.min.js"></script>
  <link rel="icon" type="image/png" href="/static/favicon.png" />
  <link rel="stylesheet" href="/static/main.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds2.feedburner.com/TimesAndMeasures" />
  
  <meta name="google-site-verification" content="Kc3Hv2ShdXdwHTvbk21g8mKqn9rFIPmTXC9h2G6jJO4" />
  <meta name="google-site-verification" content="G8c5Vx9cc2bbPVv4bvhqNW5g7b92KBjJ9F2XtvnZWoA" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19346342-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>
  <div class="head">
    <div class="logo">
      <a href="/"><img src="/static/logo-text.png" alt="Malice Afterthought, Inc." title="Malice Afterthought, Inc."/></a>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/services.html" title="What We Do">What We Do</a></li>
        <li><a href="/why.html" title="Why Hire Us">Why Hire Us</a></li>
        <li><a href="/software.html" title="Software We've Released">Software We've Released</a></li>
        <li><a href="/contact.html" title="Contact">Contact</a></li>
        <!--<li><a href="/blog" title="Blog">Blog</a></li>-->
      </ul>
    </div>
  </div>